<div class="container bg-white rounded border mt-5 p-3">

  <h1 class="text-center mb-4">Ingrese a su cuenta</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false}, class: "d-flex flex-column align-items-center" } ) do |f| %>
    <div class="mb-3">
      <%= f.label :card_digits, "Numero de Tarjeta", class: 'form-label fs-3' %>
      <%= f.text_field :card_digits, autofocus: true, class: "form-control",  placeholder: "Ej: 1616161616161616"%>
    </div>

    <div class="mb-3">
      <%= f.label :password, "PIN", class: 'form-label fs-3' %>
      <%= f.password_field :password, class: "form-control w-100",  placeholder: "Ej: 1234" %>
    </div>

      <%= f.submit "Log in", class: "btn btn-outline-primary w-25 mt-3" %>
    <div class="text-center mt-3">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
