<%= form_with(model: transaction, html: {id: "form_transactions"}, remote: true) do |form| %>
  
  <% if transaction %>
    <% if transaction.errors.any? %>
      <%= render 'transactions/alert' %>
    <% end %>
  <% end %>
  
  <div class="row">
    <% if !@no_money_balance && !@no_money %>
      <% @possible_cash.each_with_index do |money, index| %>
        <div class="btn-group col-12 mb-3" role="group">
          <%= form.radio_button :requested_money, money.to_i, class: "btn-check", id: "btnradio"+index.to_s%>
          <label class="btn btn-outline-primary" for="btnradio<%=index%>"><%=money%></label>
        </div>
      <% end %>
      <% else %>
        <div class="p-5">
          <h2 class="fw-bold">Lo siento, en este momento no dispongo de efectivo, intente en otro momento.</h2>
        </div>
      <% end %>
  </div>
  <% if !@no_money_balance && !@no_money%>
    <div class="d-flex justify-content-between">
      <%= form.submit "Retirar", class: "btn btn-outline-primary", id: "sendSubmit"%>
      <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#another_quantity">
        Otra cantidad
      </button>
    </div>
  <% else %>
    <%= link_to "Salir", destroy_user_session_path, data:{ "turbo-method": :delete }, class: "btn btn-lg fs-2 btn-warning w-100"%>
  <% end %>
  
<% end %>

<script>
  var buttonExist = document.querySelector(".btn-warning");
  var alert = document.querySelector("#alert_warning");
  var buttons = document.querySelectorAll(".btn-check");
  if (alert) {
    setTimeout(() => {
      alert.classList.add("d-none")
    }, 5000);
  }
  if(buttonExist){
    buttons.forEach(button => {
      button.checked = false
    })
  }
</script>
